<% provide(:title, "Your Itens") %>

<ul class="items">

  <h1> Your Itens </h1>
  <% @non_repetetive_items.each do |item, quantity| %>
    <li>
      <%= quantity %> - 
      <%= item.name %>
    </li>
  <% end %>
</ul>
