
<% provide(:title, 'All Itens') %>

<ul class="items">

  <h1>Itens available</h1>
  <% @non_repetetive_items.each do |item, quantity| %>
    <% if !item.state %>
      <li>
        &nbsp;
        <%= quantity %> - <%= item.name %>
          <div style="display:inline-block;" class="items_display">
            <%= button_to "Delete", delete_item_path(item.id), class: "btn btn-primary", method: :delete %>
          </div>
        <div style="display:inline-block;" class="items_display">
          <%= button_to "Aquire", items_update_path(item.id), class: "btn btn-primary", method: :put %>
        </div>
      <% end %> 
    </li>
  <% end %>
</ul>
