<% provide(:title, 'Aquire item') %>
<h1>Aquire Item</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@item) do |f| %>
      <%= f.label :amount %>
      <%= f.number_field :amount, class: 'form-control' %>
      <br>

      <%= f.submit "Aquire Itens", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
