.footer {
  display: flex;
  flex: 1;
  align-items: 'center';
  justify-content: 'center';
  color: #777;

  a {
    color: #555;
  }

  a:hover {
    color: #222;
  }

  small {
    align-items: center;
    float: center;
  }
}

.container{
  align-items: 'center';
  justify-content: 'center';
}

