@import "bootstrap-sprockets";
@import "bootstrap";

input.btn.btn-primary {
  font-size: 30px;
  font-weight: 900;
}

.button_dist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item_button {
  display: inline-block;
  float: left;
}


.items{

  li{
    border-radius: 10px;
    border: 2px solid #6666ff;
    list-style: none;
    font-size: 50px;
    font-weight: 900;
    color: black;
    background-color: #E6E6FA;
    margin-top: 10px;

  }

  .not_available_items{
  }

  h1{
    text-align: left;
    font-size: 60px;
    font-weight: 900;
  }
}

.items_display{
  display: inline-block;;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  float: right;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: -0.5%;
  border-radius: 25px;
}

